*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;

    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
    text-align: justify;
}

:root{
    --bg-color: #fff;
    --snd-bg-color: #d5fdf9;
    --text-color: #000;
    --main-color: #007f73;

    --Primaria-Fundo: yellow;
    --Primaria-Texto: blue;
    --Detalhes-Hover: lightblue;
    --Detalhe-Borda: red;
    --Detalhe-Icons: orange;
}

html{
    font-size: 62.5%;
    overflow: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.Header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.6s ease;
}

.Logo{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.Logo:hover{
    transform: scale(1.05);
}

.NavBar a{
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.NavBar a:hover, 
.NavBar a.Active{
    color: var(--text-color);
}

#Menu-Icon{
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}