* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Opcionais     */
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

:root {
    /* Inter: excelente para títulos e textos corridos, com ótima legibilidade. */
    --Font-Primary: 'Inter', sans-serif;
    /* Roboto Mono: ideal para destacar trechos de código ou nomes de tecnologias. */
    --Font-Secondary: 'Roboto Mono', monospace;

    --Coral-Av: #EF4D5F;
    --Title-Gelo: #F8F9Fa;
    --Txt-Lorem: #A9AFBB;

    /* Dourado */
    --Color-Dourado: #FEB602;
    --Color-Verde: #44B678;
    --Color-Azul: #1F408C;
    --Color-Grey: #9C9C9C;

    --Bg-Dark: #0b0e14; /* Fundo escuro */
    --Bg-Light: #1c2230; /* Fundo claro do gradiente */
    --Text-White: #FFFFFF; /* Títulos */
    --Text-Gray: #a9afbb; /* Parágrafos e menu */
}


body {

    /* Garante que o corpo tenha no mínimo a altura total da tela */
    min-height: 100vh;

    /* Aplica o gradiente radial */
    background: radial-gradient(circle at 75% 30%, #1c2230 0%, #0b0e14 100%);

    /* Opcional: Fixa o fundo para que o ponto de luz não suba ao rolar a página */
    background-attachment: fixed;

    /* Define a cor padrão do texto para branco, conforme o design */
    color: var(--Text-White);
}

/* Header / Navbar */
header {
    padding: 12px;
    background-color: rgba(10, 12, 16, 0.95);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;

    nav {
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        padding: 8px;
        overflow: hidden;

        h2 {
            padding: 6px;
            color: #FFFFFF;
            font-size: 1.6rem;
        }

        ul {
            display: flex;
            /* justify-content: space-evenly; */
            padding: 6px;

            a {
                color: #D0D4DD;
                font-family: var(--Font-Secondary);
                font-size: 0.8rem;
                margin-right: 2rem;
                letter-spacing: 2px;
                text-decoration: underline 1px solid #F5C84C;
            }

            a:hover {
                color: #D0D48D;
            }
        }
    }
}

/* Button Fixed Watts Canto Inferior Direito da Tela */
.Watts-Fixed-Button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #25D366;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: transform 0.3s ease;
}

.Watts-Fixed-Button:hover {
    transform: scale(1.1);
}

/* Página Menu / Container */
.Container-Main {
    overflow: hidden;
    display: grid;
    gap: 4rem;

    /* Section Home / Página Inicial */
    .Section-Home {
        width: 100%;
        height: 100dvh;
        padding: 12px;

        display: grid;
        grid-template-columns: 1.7fr 1fr;
        flex-direction: row;
        align-items: center;
        overflow: hidden;

        /* Teste de Sombra entre Páginas */
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);

        .Div-Welcome {
            padding: 6px;
            height: 40dvh;
            margin-right: 4rem;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h3 {
                font-size: 1.6rem;
            }

            h1 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1rem;
            }

            .Div-Icons-Home-Hello {
                padding: 8px;
                width: 45%;

                display: flex;
                justify-content: space-between;
                align-items: center;

                a button {
                    width: 34px;
                    height: 34px;
                    border-radius: 60%;
                    border: 0.6px solid var(--Coral-Av);
                    background-color: transparent;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
                    transition: transform 0.5s ease;

                    i {
                        font-size: 0.8rem;
                        color: var(--Coral-Av);
                    }
                }

                a button:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }

        .Div-IMG-Home {
            /* width: 700px; */
            height: 80dvh;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    /* Section Sobre mim / Apresentação inicial */
    .Section-Sobre {
        width: 100%;
        height: 100dvh;
        padding: 12px;
        /* background-color: chocolate; */

        display: grid;
        grid-template-columns: 1fr 1.3fr;
        overflow: hidden;

        /* Teste de Sombra entre Páginas */
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);

        .Div-IMG-Sobre {
            max-width: 400px;
            max-height: 80dvh;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .Div-Sobre-Hello {
            width: 100%;
            height: 80vh;
            /* background-color: #D0D48D; */
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .Div-LD-Hello {
                max-width: 100%;
                max-height: 100%;
                overflow: hidden;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 16px;

                h2 {
                    padding: 6px;
                    font-size: 1.8rem;
                }

                p {
                    padding: 6px;
                    font-size: 1rem;
                }
            }

            .Div-LD-Tabela {
                padding: 8px;

                max-width: 100%;
                max-height: 100%;
                overflow: hidden;

                table {
                    border-collapse: separate;
                    border-spacing: 10px 5px;
                    /* Horizontal 10px, Vertical 5px */

                    tbody {
                        font-size: 0.8rem;

                        tr {
                            gap: 20px;

                            th,
                            td {
                                padding: 8px 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* section Projetos / Experiências da Faculdade */
    .Section-Exp {
        width: 100%;
        height: 250dvh;
        padding: 22px;
        overflow: hidden;
        /* background-color: coral; */
        border: 1px solid red;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        gap: 1rem;

        /* Teste de Sombra entre Páginas */
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);

        .Div-Cards {
            border: 1px solid yellow;
            padding: 6px;
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-rows: 2fr 2.5fr 0.5fr;
            gap: 16px;

            .Div-IMG-Card {
                display: flex;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .Div-Projeto-Card {

                p {
                    font-size: 0.rem;
                }
            }

            .Div-Button-Card {
                border: 1px solid green;
                display: flex;
                justify-content: center;
                padding: 8px;
                
                a {
                    padding: 12px;
                    background-color: var(--Color-Verde);
                    border-radius: 1% 20% 1% 10%;
                    transition: transform 1s ease, border-radius 0.5s ease-in;
                    
                    button {
                        font-size: 1.05rem;
                        letter-spacing: 2px;
                        font-weight: bold;
                        background-color: transparent;
                    }
                }
                
                a:hover {
                    transform: scale(1.05);
                    cursor: pointer;
                    border-radius: 10%;
                    cursor: pointer;
                }
                button:hover{ cursor: pointer; }
            }
        }
    }

    /* Section Aprensetação / Evolução Pessoal */
    .Section-Wellcome {
        width: 100%;
        height: 130dvh;
        display: grid;
        align-items: center;
        padding: 16px;
        overflow: hidden;

        h3, h6 {
            color: steelblue;
            font-weight: bold;
        }

        h3 {
            font-size: 1.2rem;
        }

        h6 {
            font-size: 1rem;
        }

        p {
            color: slateblue;
            font-size: 0.9rem;
        }
        >div:nth-child(9) {

            ul li {
                font-weight: bold;
                color: steelblue;
                
                
                ul li {
                    padding: 2px 0px;
                    margin: 8px 12px;
                    list-style: inside;
                    color: slateblue;
                }
            }
        }
    }
}