*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;

    font-family: 'Courier New', Courier, monospace;
}

:root{

    --Primaria-Fundo: yellow;
    --Primaria-Texto: blue;
    --Detalhes-Hover: lightblue;
    --Detalhe-Borda: red;
}

#Main-Container{
    border: 1px solid blue;
    padding: 6px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 4fr) repeat(2, 6fr) 2fr;
}

header{
    padding: 12px;

    ul{
        display: flex;
        justify-content: end;
        align-items: center;

        li{
            margin-right: 12px;
            background-color: var(--Primaria-Fundo);
            padding: 8px;
            border-radius: 8px;
            transition: opacity 0.3s ease;

            a{
                color: var(--Primaria-Texto);
                font-size: 0.8rem;
                font-weight: 700;
                letter-spacing: 1.2px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
    }
}

header ul li:hover{
    opacity: 0.8;

    a{
        color: var(--Detalhes-Hover);
    }
}

section{
    margin-top: 8px;
    border: 1px solid var(--Detalhe-Borda);
    padding: 8px;
}